body {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20%;
  background-color: black;
}

.divone {
  width: 300px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

  border-top: 7px solid green;
  border-right: 7px solid green;
  border-bottom: 7px solid green;
  border-left: 7px solid green;


  padding-left: 15px;
  background-color: lightblue;
  display:inline-block;
}

.inside-div {
  display:inline;
}



.float-to-right {
  float: right;
}
